# Variables

In [1]:
a=10
b=20
name='John'
a,b,name

(10, 20, 'John')

In [2]:
a
b
name

'John'

In [3]:
print(a,b,name)

10 20 John

In [4]:
# Unpacking
p,q,r = 4,6,8
p,q,r

(4, 6, 8)

In [41]:
print(p,q,r)

4 6 8

# Input function Examples

In [131]:
a=input('Enter a number:')
a

Enter a number:20

'20'

In [38]:
# Input function Examples
name=input('Enter a number:')
name

Enter a number:John

'John'

In [35]:
num1=input('Enter first number :')
num2=input('Enter second number :')
sum = num1 + num2
print(sum)

Enter first number :20
Enter second number :30
2030

In [36]:
num1=int(input('Enter first number :'))
num2=int(input('Enter second number :'))
sum = num1 + num2
print(sum)

Enter first number :12
Enter second number :58
70

# Lists

In [17]:
# Lists Examples
list1 = ['Physics','Maths',2000,2004]
list1

['Physics', 'Maths', 2000, 2004]

In [89]:
list2 = [1,2,3,4,5]
list2

[1, 2, 3, 4, 5]

In [105]:
# Appending a value to th list
list2.append(8)
print(list2)

[1, 2, 3, 4, 5, 6, 6, 8]

In [106]:
# Removing the element from a list
list2.remove(6)
print(list2)

[1, 2, 3, 4, 5, 6, 8]

In [107]:
# Removing element at given index
list2.pop(4)
print(list2)

[1, 2, 3, 4, 6, 8]

In [120]:
# Adding elements of one list to another list
list4 = [3,6,5,7,6]
list2.extend(list4)
print(list2)

[1, 2, 3, 4, 6, 8, 3, 6, 5, 7, 6]

In [122]:
# Counting occurences of an element in a list
count=list2.count(6)
print(count)

3

In [126]:
# Sorting an element of a list
list2.sort()
print(list2)

[1, 2, 3, 3, 4, 5, 6, 6, 6, 7, 8]

In [129]:
# Reversing a list
list2.reverse()
print(list2)

[8, 7, 6, 6, 6, 5, 4, 3, 3, 2, 1]

In [130]:
# Returning length of the list
print(len(list2)

11

In [88]:
list3 = ['hello','world','learn','python']
list3

['hello', 'world', 'learn', 'python']

In [104]:
# Inserting a value at a particular index position
list3.insert(2,'lets')
list3

['hello', 'world', 'lets', 'learn', 'python']

In [103]:
# Removing a value at a particular index position
list3.remove('lets')
print(list3)

['hello', 'world', 'learn', 'python']

# Sets

In [ ]:
set1 = {6,5,70,45,3,6,34,2,36,2}
set1

In [96]:
set2 = {2,'hello',89}
set2

{2, 89, 'hello'}

# Tuples

In [22]:
# Tuple Examples
tuple = 2,3,4,5,6
tuple

(2, 3, 4, 5, 6)

In [23]:
tuple1 = (3,4,5,8,9)
tuple1

(3, 4, 5, 8, 9)

In [25]:
tuple3 = ('abc',3,56.8,'h')
tuple3

('abc', 3, 56.8, 'h')

# Tuple Functions

In [132]:
# Returning length of the tuple
l = len(tuple1)
print(l)

5

In [133]:
# Returning largest element
print(max(tuple1))

9

In [134]:
#Returning smallest element
print(min(tuple1))

3

In [145]:
# Returning index of a value
print(tuple1.index(8))

3

# Strings

In [42]:
#String Initialization
string1 = 'Python'
string1

'Python'

In [48]:
# String Indexing
print(string1[1])
print(string1[3])
print(string1[4])
print(string1[5])

y
h
o
n

In [46]:
# Reverse Indexing of String
print(string1[-6])
print(string1[-4])
print(string1[-2])
print(string1[-1])

P
t
o
n

In [49]:
# String Slicing
print(string1[0:1])
print(string1[0:2])
print(string1[0:5])
print(string1[-6:-1])
print(string1[-1:-6])
print(string1[-6:6])

P
Py
Pytho
Pytho

Python

# String Functions

In [52]:
# String Functions
string1 = 'python'
string1.upper()

'PYTHON'

In [53]:
string1.lower()

'python'

In [54]:
string1.islower()

True

In [55]:
string1.isupper()

False

In [56]:
# String with numeric data
string1 = '23475'
print(string1.isnumeric())

True

In [58]:
string1 = 'apples'
print(string1.isalpha())

True

In [60]:
# String with alpha numeric data
string1 = '2apples'
print(string1.isalnum())

True

In [61]:
string1 = " "
string1.isspace()

True

In [62]:
string1 = 'python'
len(string1)

6

In [63]:
string1.istitle()

False

In [64]:
book = 'Let Us Python'
print(book.istitle())

True

In [67]:
# Reversing a String
string1 = 'Python'
print(string1[::-1])

nohtyP

In [69]:
string1[::1]

'Python'

In [83]:
# String Multiplication
string1 * 3

'PythonPythonPython'

In [84]:
'Python ' * 4

'Python Python Python Python '

In [86]:
# String Concatenation
fst_name = 'Will'
last_name = 'Smith'
name = fst_name + last_name
print(name)

WillSmith

In [87]:
name = fst_name + ' ' + last_name
print(name)

Will Smith

# Functions

In [39]:
# Adding 2 numbers using functions
def sum(a,b):    # Defining a function
    sum = a+b
    return sum  # Return Statement
num1=int(input('Enter first number :'))
num2=int(input('Enter second number :'))
result = sum(num1,num2)
print(result)

Enter first number :45
Enter second number :65
110

In [40]:
# Multiplication 2 numbers using functions
def multiply(a,b):    # Defining a function
    mul = a*b
    return mul  # Return Statement
num1=int(input('Enter first number :'))
num2=int(input('Enter second number :'))
result = multiply(num1,num2)
print(result)

Enter first number :56
Enter second number :2
112