In [1]:
tuple1 = (3,6,4,7,2)
print(tuple1)

(3, 6, 4, 7, 2)

In [2]:
l = len(tuple1)
print(l)

5

In [3]:
print(max(tuple1))

7

In [4]:
print(min(tuple1))

2

In [5]:
dict1 = {101:'Python',102:'SQL',103:'Tableau'}
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau'}

In [6]:
a = dict1.get(102)
print(a)

SQL

In [8]:
a = dict1.get(105)
print(a)

None

In [9]:
d2 = {104:'Power BI'}
dict1.update(d2)
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau', 104: 'Power BI'}

In [10]:
d2.clear()
print(d2)

{}

In [11]:
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau', 104: 'Power BI'}

In [14]:
num = -5
if (num > 0):
    print("Number is positive number.")
print('Thank you')

In [15]:
num = int(input('Enter a number'))
if(num % 2 == 0):
    print('Number is even number')
else:
    print('Number is odd number.')

Enter a number5
Number is odd number

In [17]:
num = int(input('Enter a number'))
if(num>0):
    print('Number is positive number.')
elif(num<0):
    print('Number is negative number.')
else:
    print('Zero')

Enter a number0
Zero

In [18]:
n = int(input('Enter a number'))
x = 1
while x<=n:
    if x%2==0:
        print(x, end ='\t')
    x += 1

Enter a number15
2	4	6	8	10	12	14

In [19]:
i = 1
while i<= 4:
    j = 1
    while j<= 12:
        print(i*j, end = '\t')
        j+=1
    i+=1
    print('\n')

1	2	3	4	5	6	7	8	9	10	11	12

2	4	6	8	10	12	14	16	18	20	22	24

3	6	9	12	15	18	21	24	27	30	33	36

4	8	12	16	20	24	28	32	36	40	44	48

In [20]:
n = int(input('Enter a number'))
sum = 0
for x in range(1,n+1,1):
    sum = sum + x
print('Sum is :',sum)

Enter a number10
Sum is : 55

In [21]:
l1 = ['hello','world','python']
for i in range(len(l1)):
    print(l1[i])

hello
world
python

In [22]:
sub = ['Python','DA','SQL']
level =['Beginners','Intermediate','Advanced']

for x in sub:
    for y in level:
        print(x,y)

Python Beginners
Python Intermediate
Python Advanced
DA Beginners
DA Intermediate
DA Advanced
SQL Beginners
SQL Intermediate
SQL Advanced

In [26]:
for r in range(1,6):
    for c in range(1,r+1):
        print('*',end='\t')
    print()

*
*	*
*	*	*
*	*	*	*
*	*	*	*	*

In [29]:
for char in 'Python':
    if (char == 'h'):
        pass
    print('Current character:', char)

Current character: P
Current character: y
Current character: t
Current character: h
Current character: o
Current character: n